{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <div class="row">

      <div id="red" class="col-xs-6">
        <div class="flexContainer">
          <div class="box">
            <a href="/authors">Authors</a>
          </div>
        </div>
      </div>

      <div id="green" class="col-xs-6">
        <div class="flexContainer">
          <div class="box">
            <a href="/books">Books</a>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
