<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>


  {% block content %}

  <div class="container">
    <h1>{{ title }}</h1>
    <form method="post" action="/signup">
      <input type="text" name="given_name" placeholder="Your First Name">
      <br><br>
      <input type="text" name="family_name" placeholder="Your Last Name">
      <br><br>
      <input type="email" name="email" placeholder="Email Address">
      <br><br>
      <input type="text" placeholder="Choose Your Username" name="username" required>
      <br><br>
      <input type="password" placeholder="Choose Your Password" name="password" required autofocus>
      <br><br>
      <input class="btn btn-primary" type="submit" value="Sign Up!">
    </form>
    <br><br>
    <p>Already registered? <a href="/login">Log

  </div>

  {% endblock %}

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>