body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navLogoWrapper {
  height: 40px;
  width: 40px;
}

.navLogo {
  width: 100%;
  margin-top: 3px;
}

#red {
  background-color: red;
  height:50vh;
  border-radius:10px;
  text-align: center;
}

#green {
  background-color: green;
  height:50vh;
  border-radius:10px;
  text-align: center;
}