body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navLogoWrapper {
  height: 40px;
  width: 40px;
}

.navLogo {
  width: 100%;
  margin-top: 3px;
}

.indexImages {
  width: 100%;
}

.imgWrapper {
  height: 200px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.imgWrapper2 {
  width: 150px;
  text-align: center;
}

.navbar {
  overflow-x: scroll;
}